@using Microsoft.AspNetCore.Http
@using Caja.MVC.Core.App
@{
    var vUser = new General(Context.Session).UsuarioActual().NombreCompleto; //Context.Session.GetString("_User");<!--Capturar la sesión en la variable vUser-->
}

<!-- BEGIN #header -->
<div id="header" class="app-header">
    <!-- BEGIN mobile-toggler -->
    <div class="mobile-toggler">
        <button type="button" class="menu-toggler" data-toggle="sidebar-mobile">
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
    </div>
    <!-- END mobile-toggler -->
    <!-- BEGIN brand -->
    <div class="brand">
        <div class="desktop-toggler">
            <button type="button" class="menu-toggler" data-toggle="sidebar-minify">
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
        </div>

        <a href="/" class="brand-logo">
            Caja Studio Web
        </a>
    </div>
    <!-- END brand -->
    <!-- BEGIN menu -->
    <div class="menu">
        <form class="menu-search" method="POST" name="header_search_form">            
        </form>
        
        <div class="menu-item dropdown">
            <a href="#" data-bs-toggle="dropdown" data-bs-display="static" class="menu-link">
                <div class="menu-img online">
                    <span class="fa fa-user-circle fa-3x"></span>
                </div>
                <div class="menu-text">@vUser</div>
            </a>
            <div class="dropdown-menu dropdown-menu-end me-lg-3">              
                <a class="dropdown-item d-flex align-items-center" href="/Pages/LogOff">Cerrar Sesión<i class="fa fa-toggle-off fa-fw ms-auto text-gray-400 f-s-16"></i></a>
            </div>
        </div>
    </div>
    <!-- END menu -->
</div>
<!-- END #header -->