@model Caja.MVC.Core.Models.ReferenciaModel
@using Caja.MVC.Core.App

@{
    ViewData["Title"] = "Editar Referencia";
}

<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Administración</a></li>
    <li class="breadcrumb-item">Vendedores</li>
    <li class="breadcrumb-item active">Referencias</li>
</ul>

<hr class="mb-4">

<form asp-action="Edit">

    <h4>Vendedor: @ViewBag.NombreVendedor</h4>

    @if (ViewBag.SuccessMessage != null)
    {
        <div class="alert alert-success">
            <strong>Correcto!</strong> @ViewBag.SuccessMessage
        </div>
    }

    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger">
            <strong>Error!</strong> @ViewBag.ErrorMessage
        </div>
    }
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Editar Referencia</h5>
        </div>
        <div class="card-body">

            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="IdVendedor" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-xs-6 col-sm-4">
                    <label asp-for="Documento" class="control-label"></label>
                    <input asp-for="Documento" class="form-control" />
                    <span asp-validation-for="Documento" class="text-danger"></span>
                </div>
                <div class="form-group col-xs-6 col-sm-4">
                    <label asp-for="Nombres" class="control-label"></label>
                    <input asp-for="Nombres" class="form-control" />
                    <span asp-validation-for="Nombres" class="text-danger"></span>
                </div>
                <div class="form-group col-xs-6 col-sm-4">
                    <label asp-for="Apellidos" class="control-label"></label>
                    <input asp-for="Apellidos" class="form-control" />
                    <span asp-validation-for="Apellidos" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-6 col-sm-4">
                    <label asp-for="Direccion" class="control-label"></label>
                    <input asp-for="Direccion" class="form-control" />
                    <span asp-validation-for="Direccion" class="text-danger"></span>
                </div>
                <div class="form-group col-xs-6 col-sm-4">
                    <label asp-for="Telefono" class="control-label"></label>
                    <input asp-for="Telefono" class="form-control" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>
                <div class="form-group col-xs-6 col-sm-4">
                    <label asp-for="Celular" class="control-label"></label>
                    <input asp-for="Celular" class="form-control" />
                    <span asp-validation-for="Celular" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-6 col-sm-4">
                    <label asp-for="IdCiudad" class="control-label"></label>
                    <select asp-for="IdCiudad" asp-items="Model.ListaCiudades" class="form-control">
                        <option value="">Seleccione una ciudad</option>
                    </select>
                </div>
                <div class="form-group col-xs-6 col-sm-4">
                    <label asp-for="IdTipoRelacion" class="control-label"></label>
                    <select asp-for="IdTipoRelacion" asp-items="Model.ListaTipoRelacion" class="form-control">
                        <option value="">Seleccione un estado civil</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div>
                <button type="submit" class="btn btn-primary card-link">Guardar Cambios</button>
                <a href="@Url.Action("Index", "Referencias", new { idVendedor = Model.IdVendedor })" class="btn btn-secondary card-link">
                    <i class="fa fa-backward"></i>
                    Volver
                </a>
            </div>
        </div>
    </div>
</form>


